.message {
  transition: all 0.5s;
  position: fixed;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  right: 10px;
  bottom: 10px;
  width: 300px;
  padding: 10px;
  opacity: 0.8;

  h1 {
    color: white;
    font-size: 16px;
    font-weight: 400;
  }

  span {
    font-size: 25px;
    font-weight: 300;
    color: #000000;
    cursor: pointer;

    &:hover {
      color: #ffffff;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
